.main-caht
  .main-caht__group-info
    .main-caht__group-info__left
      .main-caht__group-info__left__group-name
        = @group.name
      .main-caht__group-info__left__member-list
        Member : 
        - @group.users.each do |group|
          = group.name
    .main-caht__group-info__right-edit
      = link_to edit_group_path(@group), class: "main-caht__group-info__right-edit--btn" do
        Edit
        
  .main-caht__caht-space
    = render @messages
    
  .main-caht__message-form
    = form_for [@group, @message] do |f|
      .main-caht__message-form__post-form
        .main-caht__message-form__post-form__text-img
          = f.text_field :content, placeholder: "type a message", class: "main-caht__message-form__post-form__text-img--textbox"
          .main-caht__message-form__post-form__text-img__img
            = f.label :image do
              = icon('fas', 'image')
              = f.file_field :image, class:"main-caht__message-form__post-form__text-img__img--file"
        = f.submit "Send", class: "main-caht__message-form__post-form--submit"
